@import "mixins";

$xsmall: 360px;
$small: 640px;
$medium: 1024px;
$large: 1440px;

body {
  min-height: 100%;
}

textarea {
  min-height: 14.8rem;
}

#main {
  min-height: 100%;
  padding: 1.5rem;

  @media (min-width: $small)
  {
    padding: 3rem;
  }
}

header {
  
  .sticky {
    box-shadow: 0 4px 6px rgba(0,0,0,.4);
  }

  .top-bar {
    a:hover {
      background: rgba(255, 255, 255, .1) !important;
    }

    .name h1 {
      font-size: 1.36rem;

      i.fa {
        width: 2.24rem;
        text-align: center;
      }
    }

    .top-bar-section {
      .has-dropdown {
        a:after {
          border-color: rgba(255, 255, 255, 1) transparent transparent;
        }
      }

      .right {
        > li > a > i.fa {
          position: relative;
          top: .1rem;
          font-size: 1.3rem;
        }

        .has-dropdown {
          ul li {
            text-align: right;
            i.fa {
              margin: 0 0 0 .4rem;
              font-size: .9rem;
            }
          }
        }
      }

      .left {
        .has-dropdown {
          ul i.fa {
            margin: 0 .4rem 0 0;
            font-size: .9rem;
          }
        }
      }
    }

  }
  
  .breadcrumbs {
    margin-bottom: 0
  }
}

.breadcrumbs {
  border-radius: 0;
}

footer {
  padding: 0 1.5rem;

  @media (min-width: $small)
  {
    padding: 0 3rem;
  }
}

.reveal-modal-bg {
  position: fixed;
}

////////////////////
//ui
////////////////////
#filesystem {
  margin-bottom: 3rem;

  .back {
    float: left;
    margin-right: .5rem;
    font-size: 3rem;
    color: #eee;
    &.active{
      color: #ccc;
      &:hover {
        color: #aaa;
        cursor: pointer;
      }
    }
  }

  .button-group {
    @media (min-width: $small) {
      float: right;  
      margin-left: 1rem;
    }
  }

  .breadcrumbs {
    position: relative;
    top: .5rem;
    padding-bottom: 0;
    > li {
      margin-bottom: 0.5625rem;
    }
  }

  p.loading {
    padding: 2rem 0;
    text-align: center;
    font-size: 7.5rem;
    color: #008CBA;
  }

  .files {
    clear: both;
    padding-top: 1rem;
    
    li {
      text-align: center;
      font-size: .7rem;
      line-height: 1;
      &.icon {
        i {
          position: absolute; 
          left: 50%;
          bottom: 2.4rem;
          margin-left: -2.5rem;
          font-size: 5rem;
          color: #ccc;
          @media (min-width: $xsmall) {
            bottom: 3.6rem;
          }
        }
      }
      a {
        display: block;
        position: relative;
        color: #444;
        &:hover {
          opacity: .85;
        }
        img {
          width: 100%;
        }
        span.filename {
          display: block;
          height: 1.4rem;
          padding-top: .4rem;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }

}


#file-upload  {
  .progress .meter {
    width: 0%;
  }

  .input-wrapper {
    position: relative;
    margin: 1.5rem 0;
    border: 1px solid #eee;
    @include transition(background-color .3s ease);

    &:hover {
      background: #ddd;
      h3 {
        color: #999;
      }
    }

    input[type="file"] {
      display: block;
      height: 13rem;
      opacity: 0;
    }

    h3 {
      position: absolute;
      margin-top: 5.5rem;
      width: 100%;
      text-align: center;
      color: #ccc;
      @include transition(color .3s ease);

      &.loading {
        margin-top: 4.5rem;
        color: #888;
        font-size: 4rem;
      }
    }
  }

  .results {
    text-align: center;
    .label {
      margin: 0 6px;
    }
  }
}

#wallpaper-settings {
  .preview {
    height: 16rem;
    .overlay {
      height: 100%;
      background: #fff;
      border: 1px solid #aaa;
      opacity: 0;
    }
  }
  .actions {
    text-align: center;
  }
}

#error {
  text-align: center;
  h1 {
    font-size: 6rem;
    line-height: 1;
    @media (min-width: $small) {
      font-size: 10rem;  
    }
  }
}

////////////////////
//dashboard
////////////////////

.dashboard .grid .columns {

  .panel {
    padding-top: 0;

    .title {
      padding: 1.25rem 0 0 0;
    }
      .title:hover {
        cursor: grab;
      }

    ul {
      list-style-type: none;
      li {
        margin-bottom: .8rem;
        img {
          width: 2rem;
          height: auto;
          vertical-align: middle;
          margin-right: 1rem;
        }
      }
    }

    &.placeholder {
      background: rgba(0,0,0,.03);
      border: 1px dashed #bbb;
    }
  }
}

////////////////////
//data index
////////////////////

#grid-view {
  ul {
    li {
      text-align: center;
      font-size: .7rem;
      line-height: 1;
      a {
        display: block;
        position: relative;
        color: #444;
        &:hover {
          opacity: .85;
        }
        img {
          width: 100%;
        }
        span.title {
          display: block;
          height: 1.4rem;
          padding-top: .4rem;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
}

#list-view {
  table {
    td {
      .title-wrap {
        min-width: 8rem;
        font-size: 1.1rem;
      }
      .img-wrap {
        img {
          width: 4rem;
          height: auto;
          &:hover {
            opacity: .85;
          }
        }
      }
      .info {
        font-size: .7rem;
        line-height: 1.3;
        color: #444;
      }
      .lastmod {
        font-size: .6rem;
        line-height: 1.2;
        color: #888;
      }
    }
  }
}

////////////////////
//data add/edit
////////////////////

#edit {

  h1 {
    position: relative;
    left: -1.2rem;
  }

  .field-editable {
    &.strong {
      font-weight: bold;
    }
  }

  .field-editable:not(.editing) {
    padding-left: 1.2rem;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: #008cba;
      &:after {
        content: " \f040";
        font-family: FontAwesome;
      }
    }
  }

  .field-editable.editing {
    padding-left: 1rem;
    border-left: .2rem dashed #ccc;
    color: #666;
    &:hover {
      cursor: insert;
    }
    outline: none;
  }

  .image-editable {
    margin: 0 0 2rem 0;

    @media (min-width: $small) {
      float: right;
      max-width: 50%;
      margin:  0 0 4rem 4rem;
    }

    img {
      height: auto;
      width: auto;
      max-width: 100%;
      border: 1px solid #666;
      box-shadow: 0 0 3px rgba(255, 255, 255, 1);

      @media (min-width: $small) {
        max-height: 20rem;
      }
      @media (min-width: $medium) {
        max-height: 30rem;
      }
    }
    
    &:hover {
      cursor: pointer;
      opacity: .8;
      &:before {
        content: "\f14b";
        font-family: FontAwesome;
        font-size: 3rem;
        position: absolute;
        margin-left: 1rem;
        color: #008cba; 
      }
    }
  }
}

#create {
  .image-editable {
    min-height: 18rem;

    &.unset {
      border: 1px dashed #aaa;
      background: rgba(0,0,0,.05);
      img {
        display: none;
      }
      input {
        float: right;
        margin-top: 9rem;
        width: 50%;
      }
    }

    input {
      visibility: hidden;
    }
    
    img {
      max-width: 100%;
      height: auto;
    }

    &:hover {
      cursor: pointer;
      opacity: .8;
      &:before {
        content: "\f03e";
        font-family: FontAwesome;
        font-size: 3rem;
        position: absolute;
        margin-left: 1rem;
        color: #008cba; 
      }
    }
  }
}

.reveal-modal.relational table span.data.hide {
  display: none
}
