@import "mixins";

$small: 640px;

#main {
  padding-top: 3rem;
}

.reveal-modal-bg {
  position: fixed;
}

////////////////////
//ui
////////////////////
.filesystem {
  margin-bottom: 48px;
}

.file-upload .input-wrapper {
  position: relative;
  margin-bottom: 24px;
  border: 1px solid #eee;
  @include transition(background-color .3s ease);

  &:hover {
    background: #ddd;
    h3 {
      color: #999;
    }
  }

  input[type="file"] {
    display: block;
    height: 200px;
    opacity: 0;
  }

  h3 {
    position: absolute;
    margin-top: 90px;
    width: 100%;
    text-align: center;
    color: #ccc;
    @include transition(color .3s ease);
  }

}

////////////////////
//dashboard
////////////////////

.dashboard .grid .columns {
  padding-bottom: 5rem;

  @media (max-width: $small) {
    padding-bottom: 0;
  }

  .panel {
    padding-top: 0;

    .title {
      padding: 1.25rem 0 0 0;
    }
      .title:hover {
        cursor: grab;
      }
  }
}
  

